/* general */
.table-body-hidden {
	display: none;
}

.hidden {
	display: none;
}

th {
	text-align: left;
}

tr > td:first-child {
	min-width: 75px;
	padding-right: 20px;
}

.wrap {
	padding-bottom: 150px;
}

.action {
	cursor: pointer;
}
/* end of general */


/* buttons */
.wp-core-ui  button.button:not(.button-secondary) {
	color: #fff;
	margin-right: 40px;
}

.wp-core-ui  button.button.loading {
	margin-right: 12px;
}

button.loading::after {
	background-image: url('../image/loading.svg');
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: inline-block;
	height: 25px;
	margin-top: -5px;
	margin-right: -11px;
	margin-left: 5px;
	vertical-align: middle;
	width: 30px;
}

.button.button-success {
	background-color: #28a745;
	border-color: #28a745;
}

.button.button-success:focus,
.button.button-success:hover,
.button.button-success:active {
	background-color: #218838;
	border-color: #1e7e34;
}

.button.button-danger {
	background-color: #dc3545;
	border-color: #dc3545;
}

.button.button-danger:focus,
.button.button-danger:hover,
.button.button-danger:active {
	background-color: #c82333;
	border-color: #bd2130;
}

.button.button-info {
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.button.button-info:focus,
.button.button-info:hover,
.button.button-info:active {
	background-color: #138496;
	border-color: #117a8b;
}

button.button-copy {
	border: none;
	cursor: pointer;
	height: 20px;
	vertical-align: super;
	width: 20px;
}
/* end of buttons */


/* questionaire */
.questionaire-selector-wrapper {
	padding-bottom: 14px;
}

.shortcode > * {
	display: inline-block;
}
/* end of questionaire */


/* quick menu */
.quick-menu-wrapper {
	position: relative;
}

.quick-menu-wrapper > button.button {
	display: block;
}

.quick-menu-wrapper .quick-menu {
	display: inline-flex;
	flex-direction: column;
	padding: 1px 10px;
}

.quick-menu-wrapper .quick-menu > * {
	display: inline-table;
}
/* end of quick menu */


/* elements */
.elements, .answers, .talents {
	border: 1px solid #ddd;
	border-radius: 7px;
	margin: 15px 0;
	padding: 10px;
}

.elements .element {
	background-color: #f3f5f6;
	border: 1px solid #7e8993;
	border-radius: 6px;
	margin-bottom: 5px;
	padding: 5px 20px;
}

.elements .element:focus,
.elements .element:hover,
.elements .element:active {
	background-color: #f1f1f1;
}

.elements .element.sortable-chosen {
	background-color: white;
}

.elements .open-panel {
	cursor: pointer;
	display: inline-block;
}

.elements .drag-handle,
.elements .answer-drag-handle {
	cursor: ns-resize;
}

.elements .element-contents {
	display: none;
}

.elements .toggle-element-contents,
.elements .element-contents-counterpart,
.toggle-contents, .contents-counterpart,
.contentsCounterpart {
	cursor: pointer;
}

.elements .toggle-element-contents, .toggle-contents {
	margin-top: 2px;
}

.elements .element > table {
	width: 100%;
}

.elements .element textarea {
	min-height: 90px;
	resize: both;
	width: 100%;
}

.talents .talent-question {
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	margin: 5px 10px 5px 0;
	padding: 3px 0 3px 5px;
}
/* end of elements */


/* icons */
.icon {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 15px;
	margin-bottom: -3px;
	margin-right: 5px;
	width: 15px;
}

.icon-align-justify {
	background-image: url(../image/align-justify-solid.svg);
}

.icon-trash {
	background-image: url(../image/trash-alt-regular.svg);
}

.icon-trash-solid {
	background-image: url(../image/trash-alt-solid.svg);
}

.icon-copy {
	background-image: url(../image/copy.svg);
}

.icon-edit {
	background-image: url(../image/edit.svg);
}
/* end of icons */


/* tooltip */
.has-tooltip {
	position: relative;
}

.has-tooltip .tooltip {
	background-color: black;
	border-radius: 5px;
	bottom: 100%;
	color: white;
	display: none;
	left: 50%;
	margin: 0;
	padding: 3px 5px;
	position: absolute;
	transform: translate(-50%, -8px);
}

.has-tooltip .tooltip:after {
	border-color: black transparent transparent transparent;
	border-style: solid;
	border-width: 5px;
	bottom: -10px;
	content: ' ';
	display: block;
	height: 0;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 0;
}

.has-tooltip:focus .tooltip.focus {
	display: block;
}

.has-tooltip:hover .tooltip.hover {
	display: block;
}

.has-tooltip:active .tooltip.active {
	display: block;
}

.has-tooltip:focus .tooltip.hover {
	display: none;
}

.has-tooltip:active .tooltip.hover,
.has-tooltip:active .tooltip.focus {
	display: none;
}
/* end of tooltip */


/* message container */
#gifttest-message-container {
	position: fixed;
	right: 10px;
	top: 50px;
}

#gifttest-message-container .message {
	border: 1px solid gray;
	border-radius: 4px;
	margin: 10px 0;
	padding: 10px 32px 10px 20px;
	position: relative;
	width: 200px;
}

#gifttest-message-container .message-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

#gifttest-message-container .message-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

#gifttest-message-container .message-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

#gifttest-message-container .message .message-close-button {
	color: inherit;
	cursor: pointer;
	background-color: transparent;
	font-size: 22px;
	font-weight: 700;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
}
/* end of message container */
