/* end of general */
.gifttest .loading {
	display: block;
	margin: auto;
	width: 90px;
}
/* general */


/* colors */
:root {
	--gifttest-progress-bar-bg-color: #bbb;
	--gifttest-progress-bar-color: #fff;
	--gifttest-progress-bar-progress-color: green;
}
/* end of colors */


/* progress bar */
.progressbar-wrapper {
	padding-bottom: 20px;
}

.progressbar-wrapper .bar {
	background-color: var(--gifttest-progress-bar-bg-color);
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.progressbar-wrapper .bar .progress {
	background-color: var(--gifttest-progress-bar-progress-color);
	height: 100%;
	position: absolute;
	width: 0%;
}

.progressbar-wrapper .bar .progress-number {
	color: var(--gifttest-progress-bar-color);
	position: relative;
	text-align: center;
	z-index: 1;
}
/* end of progress bar */


/* question */
.question {
	min-height: 80px;
}
/* end of question */


/* answer */
.answer-wrapper {
	display: table-row;
	margin-bottom: 40px;
}

.answer-wrapper .answer {
	display: inline;
}

.answer-wrapper .answer .answer-inner {
	cursor: pointer;
	display: inline-block;
	font-size: 22px;
	margin-bottom: 12px;
	padding: 10px 10px 10px 35px;
}

.answer-wrapper .answer .answer-inner > * {
	display: inline-block;
}
/* end of answer */


/* scoreboard */
.scoreboard  .score {
	padding-bottom: 45px;
	page-break-inside: avoid;
}

.scoreboard  .score h3 {
	padding: 5px 8%;
}

.scoreboard  .show-more-talents-toggle {
	margin-top: 30px;
	margin-bottom: 40px;
}

@media print {
	.gifttest-print {
		border: none !important; /* Has to be important to work with printing */
		margin: 0 !important; /* Has to be important to work with printing */
		padding: 0 !important; /* Has to be important to work with printing */
	}

	.scoreboard  .score {
		padding: 70px 50px 10px 20px !important; /* Has to be important to work with printing */
		text-align: justify;
	}

	.scoreboard  .score > h3 {
		padding-bottom: 20px !important; /* Has to be important to work with printing */
		text-align: center;
	}
}
/* end of scoreboard */
