/* end of general */
.gifttest .loading {
	width: 90px;
	display: block;
	margin: auto;
}
/* general */

/* colors */
:root {
	--gifttest-progress-bar-color: #fff;
	--gifttest-progress-bar-bg-color: #bbb;
	--gifttest-progress-bar-progress-color: green;
}
/* end of colors */

/* progress bar */
.progressbarWrapper {
	padding-bottom: 20px;
}

.progressbarWrapper .bar {
	position: relative;
	overflow: hidden;
	background-color: var(--gifttest-progress-bar-bg-color);
	border-radius: 4px;
}

.progressbarWrapper .bar .progress {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: var(--gifttest-progress-bar-progress-color);
}

.progressbarWrapper .bar .progress-number {
	color: var(--gifttest-progress-bar-color);
	text-align: center;
	z-index: 1;
	position: relative;
}
/* end of progress bar */

/* question */
.question {
	min-height: 80px;
}
/* end of question */

/* answer */
.answerWrapper {
	display: table;
	margin-bottom: 40px;
}

.answerWrapper .answer {
	display: table-row;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.answerWrapper .answer .answerInner {
	display: table-cell;
	position: relative;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	padding: 10px 10px 10px 35px;
}
/*
.answerWrapper .answer .answerInner:hover input[type='radio'] + .customCheckbox {
	background-color: #ccc;
}

.answerWrapper .answer .answerInner input[type='radio'] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.answerWrapper .answer .answerInner input[type='radio'] + .customCheckbox {
	position: absolute;
	top: 14px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.answerWrapper .answer .answerInner input[type='radio'] + .customCheckbox:after {
	content: '';
	position: absolute;
	display: none;

	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.answerWrapper .answer .answerInner input[type='radio']:checked + .customCheckbox {
	background-color: var(--gifttest-progress-bar-progress-color);
}

.answerWrapper .answer .answerInner input[type='radio']:checked + .customCheckbox:after {
	display: block;
}

@media all and (min-width: 768px) {
	.answerWrapper .answer {
		display: inline-block;
		padding: 0px 30px;
	}
}
*/
/* end of answer */

/* scoreboard */
.scoreboard  .score {
	padding-bottom: 45px;
	page-break-inside: avoid;
}

.scoreboard  .score h3 {
	padding: 5px 8%;
}

.scoreboard  .showMoreTalentsToggle {
	margin-top: 30px;
	margin-bottom: 40px;
}

@media print {
	.gifttest-print {
		border: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	.scoreboard  .score {
		padding: 70px 50px 10px 20px !important;
		text-align: justify;
	}

	.scoreboard  .score > h3 {
		text-align: center;
		padding-bottom: 20px !important;
	}
}
/* end of scoreboard */
